:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-color: #757575;
  --white-color: #ffffff;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-footer {
  background: #2f303a;
}
.page-footer-portfolio {
  background: #2f303a;
}

a {
  text-decoration: none;
}

/* ===============Header============= */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header .logo {
  margin-right: 93px;
}
.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.web {
  color: var(--accent-color);
}

.webfooter {
  color: var(--white-color);
}
.nav__link-current {
  color: var(--accent-color);
  font-style: normal;
}
/* ================nav============== */
.nav {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
}
.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.header-contact.one {
  margin-right: 50px;
}
.nav__link:hover,
.nav__link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

.header .address {
  margin-left: auto;
}
/*================ hero============ */
.hero {
  background: #2f303a;
  text-align: center;
  padding: 200px 0px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}
/* button */
.modal-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);

  min-width: 200px;
  padding: 10px 32px;
  cursor: pointer;
}
/* ================features========= */
.about {
  padding: 94px 0;
}

.about-list {
  display: flex;
}
.about-list-item {
  max-width: 270px;
  margin-right: 30px;
}
.about-list-item:nth-child(4n) {
  margin-right: 0;
}

.about-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-top: 10px;
}
/* ===========What are we doing============ */
.work-list {
  display: flex;
}
.work-list-item {
  margin-right: 30px;
}
.work-list-item:nth-child(3n) {
  margin-right: 0;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
/* ======================Our team====================*/
.team {
  background: #f5f4fa;
  margin-top: 94px;
}
.title-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-top: 94px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  padding-bottom: 94px;
}

.team-list-item {
  margin-right: 30px;
  background: #ffffff;
  border-radius: 4px;
  padding-bottom: 30px;
}

.team-list-item:nth-child(4n) {
  margin-right: 0;
}

.team-list-img {
  margin-bottom: 30px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
/* ===================Footer==================== */
.page-footer > .container {
  display: flex;
  padding-top: 60px;
}
.page-footer .logo {
  margin-bottom: 20px;
}
.page-footer-portfolio > .container {
  display: flex;
  padding-top: 60px;
}
.page-footer-portfolio .logo {
  margin-bottom: 20px;
}

.contact-list {
  padding-bottom: 60px;
}
.contact-list-link-city {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-list-item:not(:last-child) {
  margin-bottom: 9px;
}
/* =================Portfolio================ */
.buttons-list {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.buttons-list-item {
  margin-right: 8px;
}
.buttons-list-item:last-child {
  margin-right: 0px;
}

.modal-btn-portfolio {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding: 6px 22px;
  border-radius: 4px;
  border-color: #f5f4fa;
}

.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -20px;
  margin-top: -20px;
  padding-bottom: 94px;
}

.gallery__list > .gallery__item {
  flex-basis: calc(100% / 3 -60px);
  margin-left: 20px;
  margin-top: 20px;
}

.gallery__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.gallery__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-top: 4px;
}

.card-content {
  max-width: 370px;
  overflow: hidden;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
